<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Kupuj - sprawdzanie transakcji</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div id="menu">
    <a href="/main">Main</a>
</div>

<div id="content">
    <form method="post" id="login-form">
        <input type="text" placeholder="login" name="login">
        <br>
        <input type="text" placeholder="password" name="password">
        <br>
        <input type="submit" value="Zarejestruj sie">
    </form>
</div>

</body>
</html>